@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

/* shared style section */

.flex {display: flex;}
.grid {display: grid;}
.text-center {text-align: center;}
.justify-center {justify-content: center;}
.items-center { align-items: center; }

.btn-primary {
    background-image: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    font-size: 0.85rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-primary:hover {
    background-image: linear-gradient(to left, #F7E93F, #FB09B4);
    cursor: pointer;
}

.btn-secondary {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #00FF88;
    border: 2px solid #00FF88;
    text-decoration: none;
}

.btn-secondary:hover {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.text-primary {
    font-size: 4rem;
    color: #FFFFFF;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.text-header {
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.text-secondary {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

/* header style section */

.header {
    background-color: #1A0B2E;
    height: 75px;
    padding: 15px 0px;
    border-bottom: 1px solid #dddddd20;
}

.navbar-container {
    justify-content: space-around;
}

.nav-logo-container > h1, .footer-logo > h2 {
    color: #FFFFFF;
}

.nav-logo-container > h1 > span, .footer-logo > h2 > span {
    background: -webkit-linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links-container {
    gap: 10px;
}

.nav-links-container > li {
    list-style: none;
}

.nav-links-container > li > a {
    text-decoration: none;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 600;
}

.nav-links-container > li > a:hover {
    color: #FB09B4;
}

/* hero banner style section */

.main {
    max-width: 100%;
}

.banner {
    background-image: url('../assets/images/hero-bg.png');
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container {
    max-width: 500px;
    text-align: center;
}

.banner-icon-container {
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
    position: relative;
}

.banner-icon-container > p {
    background-color: #00FF88;
    padding: 5px 10px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 150px;
}

.banner-icon {
    background-image: url('../assets/images/hero-circle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
}

.banner-icon > img {
    width: 100px;
    height: 150px;
} 

.banner-btn {
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.banner-container > p {
    margin: 10px 0 20px 0;
}

/* about style section */

.about {
    max-width: 1440px;
    height: 600px;
    background-color: #1A0B2E;
    padding: 50px 200px;
}

.about-container {
    max-width: 100%;
    flex-direction: column;
}

.about-text {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.about-text > h3 {
    margin: 0 0 20px 0;
}

.about-text > p {
    line-height: 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.about-card {
    max-width: 700px;
    gap: 25px;
}

.hr {
    width: 100%;
    border: 1px solid #dddddd20;
    margin: 40px 0 20px 0;
}

.card {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > h4 {
    color: #00FF88; 
    font-size: 2.5rem;
}

.card > p {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 0.70rem;
    margin: 10px 0 0 0;
}

/* why choose style section */

.why-choose {
    max-width: 100%;
    max-height: 800px;
    background-color: #230E3D;
    padding: 100px 150px;
}

.choose-container {
    max-width: 100%;
}

.choose-grid {
    max-width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.why-text h2 {
    text-align: center;
    margin: 0 0 20px 0;
}

.why-card {
    background-color: #35116540;
    border-radius: 25px;
    padding: 25px;
}

.why-card > img {
    height: 25px;
}

.why-card > h5 {
    color: #FFFFFF;
    margin: 10px 0;
    font-weight: 700;
}

.why-card > p {
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 400;
}

.why-card-1 {
    grid-row: span 2;
}

.why-card-2, .why-card-3 {
    grid-column: span 2;
}

.why-card-4 {
    grid-column: span 2;
}

/* feature style section */

.featured {
    max-width: 1440px;
    height: 1000px;
    background-color: #1A0B2E;
    padding: 100px 150px;
}

.featured-episodes > h3 {
    text-align: center;
    margin: 0 0 20px 0;
}

.episodes-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.episodes-card {
    background-color: #250D44;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0 0 20px 0;
}

.episodes-card:hover {
    background-color: #dddddd20;
}

.episodes-image > a > img {
    width: 100%;
}

.episodes-text {
    padding: 0 20px 0 20px;
}

.episodes-text > h6 {
    color: #FFFFFF;
    font-size: 1rem;
    margin: 10px 0;
}

.episodes-text > p {
    font-size: 0.75rem;
    color: #FFFFFF;
    line-height: 1.25rem;
    margin: 0 0 10px 0;
}

.episodes-text > span {
    display: flex;
    gap: 10px;
    color: #00FF88;
    align-items: center;
}

.episodes-text > span > img {
    width: 12px;
    height: 12px;
}

.episodes-card > img {
    width: 100%;
}

.meet-host {
    text-align: center;
}

.meet-host > h3 {
    margin: 50px 0 20px 0;
}

.meet-card {
    background-color: #351165;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding: 40px;
    gap: 20px;
}

.meet-card > img {
    width: 150px;
    height: 150px;
}

.meet-text {
    text-align: left;
}

.meet-text > h6 {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.meet-text > p {
    margin: 10px 0;
    font-size: 0.75rem;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.2rem;
}

.meet-social {
    gap: 15px;
}

.meet-social > img {
    width: 25px;
    height: 25px;
    border: 1px solid #dddddd20;
    border-radius: 25px;
    padding: 5px;
}

/* footer style section */

.footer {
    max-width: 100%;
    height: 300px;
    background-image: url('../assets/images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.footer-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.footer-logo > h2 {
    font-size: 4rem;
}

.footer-social {
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-social > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FFFFFF;
    font-size: 0.75rem;
}

.footer-social > p > img {
    width: 15px;
    height: 13px;
}

.footer-copyright {
    color: #FFFFFF;
    font-size: 0.75rem;
}

/* responsive style section */

@media screen and (max-width: 576px) {
    .header, .banner, .about {
        display: none;
    }

    .text-header {
        font-size: 2rem;
    }

    .why-card {
        grid-row: span 1;
    }

    .meet-text {
       text-align: center;
    }

    .featured, .why-choose {
        padding: 20px;
        height: auto;
    }

    .episodes-card-container, .choose-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer, .meet-card, .choose-grid, .why-choose {
        padding: 10px;
        min-height: max-content;
        width: 100%;
    }

    .footer-logo > h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .footer-container, .footer-social, .meet-card {
        flex-direction: column;
    }
}